

{% extends 'base.html' %} <!--맨위에 있어야함-->

{% block content %}

    <br>

    
    <br>
    <a class="btn btn-secondary" href="{% url 'write' %}" role="button">글 쓰기</a>
    <br><br><br>
    
  <!--for문을 사용해 blogs의 모든 객체를 blog에 담고title, 시간, 본문을 가져옵니다.-->
  
      {% for blog in blogs.all %}
      <div class="container" > 
      <div class="card">
        <div class="card-body">
        <h1>{{ blog.title }}</h1>
        <p>{{ blog.pub_date | date:"Y-m-d" }}</p><!--|템플릿 필터를 사용하여 날짜를 년-월-일 로 보여준다-->
        <p>{{ blog.summary }}<a href="{% url 'detail' blog.id %}"> 자세히 보기</a></p> <!--body는 요약 내용만 보여준다-->
        </div>
      </div>
      </div>
      <br>
      {% endfor %}

{% endblock %}